@font-face {
  font-family: 'PPEditorialNew-Thin';
  src: url(Editorial_New_kopie/PPEditorialNew-Thin.ttf);
}

body {
  background-color: rgb(221, 220, 229);
  margin: 0;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100 vw;
  height: 100vh;
}

h1 {
  font-family:'PPEditorialNew-Thin';
  color: blue;
  font-size: 2rem;
  padding-top: 1rem;
}

header{
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.Arthur{
  grid-column: 1/2;
  padding-left: 2rem;
}

.About{
  grid-column: 2/2;
}

button{
  text-align: left;
  border: none;
  background-color:rgb(221, 220, 229);
}
