body {
  background-color: rgb(221, 220, 229);
  margin: 0;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100 vw;
  height: 100vh;
}

h1 {
  font-family: 'PP Editorial New';
  font-weight: 300;
  color: blue;
}

header{
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.Arthur{
  grid-column: 1/2;
}

.About{
  grid-column: 2/2;
}

button{
  text-align: left;
  border: none;
  background-color:rgb(221, 220, 229);
}