@font-face {
  font-family: "PPEditorialNew-Thin";
  src: url(Editorial_New_kopie/PPEditorialNew-Thin.ttf);
}

body {
  background-color: rgb(212, 211, 218);
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100 vw;
  height: 100vh;
}

h1 {
  font-family: "PPEditorialNew-Thin";
  color: blue;
  font-size: 2rem;
  padding-top: 1rem;
}

header {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.Arthur {
  grid-column: 1/2;
  padding-left: 2rem;
}

#about-button {
  position: relative;
  z-index: 10;
}

button {
  text-align: left;
  border: none;
  background-color: rgb(212, 211, 218);
}

.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.7s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup-wrapper.visible {
  display: flex;
}

.popup {
  width: max(800px, 60vw);
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.popup#about-popup {
  justify-content: flex-start;
}

.popup-image {
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*
  .popup-image2 {
    flex: 1;
    overflow: hidden;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  .popup-image3 {
    flex: 1;
    overflow: hidden;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  .popup-image4 {
    flex: 1;
    overflow: hidden;
    width: 50%;
    height: 50%;
    object-fit: contain;
  } 
  */

.popup-text {
  font-family: "PPEditorialNew-Thin";
  color: blue;
  font-size: 1.2rem;
}

.popup-close {
  font-family: "PPEditorialNew-Thin";
  color: blue;
  font-size: 1.2rem;
}
